.L{
    background-color: darkgray;
    color: blue;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}
#b1{
    color: black;
    font-weight: bold;
    font-size: 18px;
}
.L2{
    color: black;
    font-weight: bold;
    font-size: 18px;
    background-color: darkgray;

}